
.turquoise { color: #3fcfc1; }
/*
 another nice hue is: #32e0c4 (pushing the green channel up more than a few notches..)
 note: 'pure' turquoise is #30D5C8
*/

.turquoise-bg { background: #3fcfc1; }

.darkturquoise { color: #00ced1; }
.curious { color: #1D93D3; }

.gallery { color: #efefef }
.bright-gray { color: #393E46 }
.ebony-clay { color: #222831 }
.ebony-clay-bg { background: #222831 }

.shark { color: #242528; }
.shark-bg { background: #242528; }

.woodsmoke { color: #151B1E; }
.woodsmoke-bg { background: #151B1E; }