.header {
  /* background-color: white !important; */
  /* border-bottom: 1px solid #efefef; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sider {
  /* composes: shark-bg from './colors.module.css'; */
}

.menu {
  /* composes: shark-bg from './colors.module.css'; */
}

.menu-item {
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  display: flex;
  padding: 0.5rem;
}