/* add css module styles here (optional) */

.hero {
  composes: hero from './text.module.css';
  background: linear-gradient(to right, darkturquoise, #1D93D3);
  color: transparent;
  background-clip: text;
  padding: 2rem;
}

.hero::selection {
  color: white;
  background: #35a2dd;
}